<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Legislative</title>
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Other Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
    <script src="/javascripts/index.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script type='text/javascript', src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script type='text/javascript', src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script> <!--May need, maybe not-->
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>

    <!-- Pre Document Processes -->
    <script>console.log("Running Pre-Document Processes")</script>
    <script>getBills()</script>

  </head>

<!-- ***** BODY CONTENT ***** -->
  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!-- NAV BAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <a href="/"><img class="navbar-brand" id="header_logo" href="/" src="/images/legislative_logo.png"/></a>
      <a class="navbar-brand chart-link" href="#chart-1-container">Upcoming</a>
      <a class="navbar-brand chart-link" href="#chart-2-container">114th Session</a>
      <a class="navbar-brand chart-link" href="#chart-3-container">Success Rate</a>
      <a class="navbar-brand chart-link" href="#chart-4-container">By Chamber</a>
      <a class="navbar-brand chart-link" href="#chart-5-container">By Committee</a>
    </nav>

    <!-- **** OPENING SEGMENT ***** -->
    <div class="chart-containers" id="chart-opening">
      <img id='front_img' src="/images/congress_image.jpg"/>
      <img id="front_logo" src='/images/legislative_logo_large.png'/>

      <div id="front_box">
        <h2 id="front_text">Bills Scheduled to Hit the Floor this Week:</h2>
        <div id="answer"></div>
      </div>

      <a class="chart-link" href="#chart-1-container">
      <img id="front_btn" src='/images/discover_btn_blue.png'/></a>
    </div>

    <!-- **** CHART 1 **** -->
    <div class="chart-containers" id="chart-1-container">
      <a class="chart-link" href="#chart-opening" ><img id="up_arrow" src='/images/arrow_btn_u_red.png'/></a>

      <div class="content-container">
        <div id="text-right">
          <h1>Number of Upcoming Bills by Congressional Committee</h1>
          <p>When a bill is introduced, it is referred to one to several committees. Committees have the power to edit, add, and hold hearings on the bill. This graph represents how many committees oversaw the construction of the upcoming bills.</p>
        </div>

        <canvas id="upcomingBills" width="600" height="550"></canvas>
        <script>
          var ctx = document.getElementById("upcomingBills").getContext("2d");

          $.ajax({
            type: 'GET',
            url: '/bills/bill_data'
          }).done(function(response){
            var bill_data = response;
            new Chart(ctx).PolarArea(bill_data, {animation:true, animationSteps: 250, animateRotate : true, animateScale : true});
          });
        </script>
      </div> <!-- END: Content Container -->

      <a class="chart-link" href="#chart-2-container" ><img id="down_arrow" src='/images/arrow_btn_d_blue.png'/></a>
    </div> <!-- 'END #chart-1-container' -->


    <!-- *** About Us *** -->
    <div class="chart-containers" id='about-container'>
      <div class="content-container" id="about-container">
        <h1>About the Team:</h1>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script>
            var margin = {top: 30, right: 10, bottom: 10, left: 10},
                width = 960 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            var x = d3.scale.linear()
                .range([0, width]);

            var y = d3.scale.ordinal()
                .rangeRoundBands([0, height], .2);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("top");

            var svg = d3.select("body").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.tsv("data.tsv", type, function(error, data) {
              x.domain(d3.extent(data, function(d) { return d.value; })).nice();
              y.domain(data.map(function(d) { return d.name; }));

              svg.selectAll(".bar")
                  .data(data)
                .enter().append("rect")
                  .attr("class", function(d) { return d.value < 0 ? "bar negative" : "bar positive"; })
                  .attr("x", function(d) { return x(Math.min(0, d.value)); })
                  .attr("y", function(d) { return y(d.name); })
                  .attr("width", function(d) { return Math.abs(x(d.value) - x(0)); })
                  .attr("height", y.rangeBand());

              svg.append("g")
                  .attr("class", "x axis")
                  .call(xAxis);

              svg.append("g")
                  .attr("class", "y axis")
                .append("line")
                  .attr("x1", x(0))
                  .attr("x2", x(0))
                  .attr("y2", height);
            });

            function type(d) {
              d.value = +d.value;
              return d;
            }
        </script>

      </div>
    </div> <!-- END #about-container -->


      <!-- Floor Updates Feed -->
    <div id='bill-list-container'>
      <h2>Floor Updates</h2>
      <div id="billList">
        <table>
          <thead>
            <th>Legislative Date</th>
            <th>Bill Name</th>
            <th>Chamber</th>
            <th>Update</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

  </body>
</html>
